@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-6">
        <img src='@Url.Content("~/images/logo.png")' class="img-responsive" />
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-5 text-center">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <h3>Origins</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
            Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
            Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
            nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
            sodales ligula in libero. Sed dignissim lacinia nunc.
        </p>
    </div>
    <div class="col-md-3">
        <h3>The Old Store</h3>
        <p>
            Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis
            tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis,
            luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper
            vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit.
        </p>
    </div>

</div>


<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-5">
        <h3>And now...</h3>
        <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed
            lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
            Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam.
            Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
        </p>
    </div>
    <div class="col-md-1">

    </div>
    
</div>
