@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Thirteen Clapperton Street<br />
    Barrie, ON L4M 3E4<br />
    <abbr title="Phone">Phone:</abbr>
    705-555-5555
</address>

<address>
    <strong>Support/Issues/Questions?:</strong>   <a href="mailto:CustomerSupport@virtuoso.com">CustomerSupport@virtuoso.com</a><br />
</address>