<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://virtuosoassignment1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>virtuosoassignment1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>virtuosoAssignment1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$virtuosoAssignment1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="virtuosoBrands" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;Integrated Security=False;User ID=virtuoso@nkq8pz11rk;Password=Comp3026;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Comp3026Assignment1.Models.virtuosoBrands, Comp3026Assignment1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="virtuosoContact" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;User ID=virtuoso@nkq8pz11rk;Password=Comp3026" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Comp3026Assignment1.Models.virtuosoContact, Comp3026Assignment1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="virtuosoOrders" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;User ID=virtuoso@nkq8pz11rk;Password=Comp3026" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Comp3026Assignment1.Models.virtuosoOrders, Comp3026Assignment1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="virtuosoProducts" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;User ID=virtuoso@nkq8pz11rk;Password=Comp3026" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Comp3026Assignment1.Models.virtuosoProducts, Comp3026Assignment1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;Persist Security Info=True;User ID=virtuoso@nkq8pz11rk;Password=Comp3026" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Comp3026Assignment1.Models.ApplicationDbContext, Comp3026Assignment1" MigrationConfiguration="Comp3026Assignment1.Migrations.Configuration, Comp3026Assignment1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="virtuosoEntities" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;User ID=virtuoso@nkq8pz11rk;Password=Comp3026" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nkq8pz11rk.database.windows.net;Initial Catalog=virtuoso;Persist Security Info=True;User ID=virtuoso;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\virtuosoEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nkq8pz11rk.database.windows.net;initial catalog=virtuoso;persist security info=True;user id=virtuoso;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;Persist Security Info=True;User ID=virtuoso@nkq8pz11rk;Password=Comp3026</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)virtuosoBrands-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BrandModel.csdl|res://*/Models.BrandModel.ssdl|res://*/Models.BrandModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;Integrated Security=False;User ID=virtuoso@nkq8pz11rk;Password=Comp3026;Connect Timeout=30;Encrypt=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)virtuosoContact-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ContactModel.csdl|res://*/Models.ContactModel.ssdl|res://*/Models.ContactModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;User ID=virtuoso@nkq8pz11rk;Password=Comp3026"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)virtuosoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:nkq8pz11rk.database.windows.net,1433;initial catalog=virtuoso;user id=virtuoso@nkq8pz11rk;password=Comp3026;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)virtuosoOrders-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.OrderModel.csdl|res://*/Models.OrderModel.ssdl|res://*/Models.OrderModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;User ID=virtuoso@nkq8pz11rk;Password=Comp3026"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)virtuosoProducts-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ProductModel.csdl|res://*/Models.ProductModel.ssdl|res://*/Models.ProductModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:nkq8pz11rk.database.windows.net,1433;Initial Catalog=virtuoso;User ID=virtuoso@nkq8pz11rk;Password=Comp3026"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>